.news {
    padding: 15px 0 15px 15px;
}


.addNews button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-left: 10px;
}

.addNews button:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    cursor: pointer;
}

.addNews textarea {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
    outline: none;
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
}

.addNews textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.addNews textarea:focus {
    cursor: text;
    background-color: white;
    border-color: #747dd2;
    transition: all 0.7s;
}