.navbar {
    grid-area: n;
    background-color: rgba(10, 12, 20, 0.5);
}

.navContent {
    margin: 15px 20px;
}

.item {
    text-decoration: none;
    font-size: 25px;
    font-family: "Bodoni MT Poster Compressed";
    color: yellow;
}

.active {
    text-decoration: none;
    font-size: 25px;
    color: red;
}